<div class="container">
<h2>知乎 － 日报</h2>
<%= DateTime.now %>
<div class="row">
	<% @stories.each do |s| %>
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= image_tag s["images"][0], class: "img-responsive" %>
			<div class="caption">
				<%= link_to s["title"], "http://daily.zhihu.com/story/" + s["id"].to_s %>
			</div>
		</div>
	</div>
	<% end %>
</div>
</div>

